:root {
    --db-base-color: #09111a;
    --db-font-face: "Barlow";
    --db-title-face: "Barlow";
    --db-line-height: 1.4;
    --db-small-relative: 90%;

    --db-font-base: 18px;
    --db-size-xs: 12px;
    --db-size-sm: 14px;
    --db-size-md: 22px;
    --db-size-lg: 28px;
    --db-size-tl: 40px;
    --db-size-jb: 60px;
    --db-size-hr: 80px;
    --db-size-mg: 150px;

    --db-radius-sm: 4px;
    --db-radius-md: 12px;
    --db-radius-lg: 18px;
    --db-radius-fluid: 100%;

    --brand-padding: 1rem 0 0 0;
}

body {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#___gatsby {
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    background: url("./src/assets/background.jpg");
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
}

strong, b {
    font-weight: 600;
}
